<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paises</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <center>
        <h1 style="color: #002ff0;">Listado de paises</h1>
    </center>
    <h3>hola , {{usuario}} </h3>
    <table class="table">
        <thead class="bg-primary">
            <tr>
                <th class="bg-primary text-danger">Nombre</th>
                <th  class="bg-primary">Capital</th>
                <th class="bg-primary">Moneda</th>
                <th class="bg-primary">Población</th>
                <th class="bg-primary">Superficie</th>
                <th class="bg-primary">Ciudades principales</th>
            </tr>
        </thead>


        <tbody>

            {% for pais in paises %}
                  <tr>
                    <td class="text-danger">{{pais.nombre}}</td>
                    <td>{{pais.capital}}</td>
                    <td class="bg-success">{{pais.moneda}}</td>
                    <td>{{pais.poblacion}}</td>
                    <td>{{pais.superficie}}</td>
                    <td>{%for ciudad in pais.ciudades%}
                        {{ciudad}} 
                        {%endfor%}
                    </td>
                  </tr>
            {% endfor %}
        </tbody>
    </table>


</body>

</html>